<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
        <meta charset ="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.gstatic.com">
       <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 
    </head>

    <body>

        <header>
            
            <h1>Vaccination Aspirations</h1>
           
        </header>
        

        <main>

            <form id="where">
                <input id="city" type="text" name="input" placeholder="Where do you wish you were going?"></br>
                <button type ="button" id="dreams">Find info</button>
            </form>

            <div id="results">
                
            </div>


        </main>

        <footer>
            <p>2021 by Doireann Ni Ghrioghair</p>
        </footer>
        
    </body>
   
</html>