
$roboto:  'Roboto', sans-serif;
$primary: rgb(56, 113, 236);
$accent: rgb(48, 104, 114);
$shadow:10px 20px 30px lightblue;



#countdown{
    color:$accent;
    font-family:'Lobster', cursive;
    margin-left:6vw;
}

#country_info{
    font-family:$roboto;
    padding-left: 5px;
    padding-right:5px;
    padding-bottom:5px;
    padding-top:5px;

}

#useful, #country, #capital, #currency,
#language, #callC, #timeZ{
    margin-top:1vh;
    margin-left:2vw;
}

#dayone{
    font-family:$roboto;
}

#weather, #icon, #temp{
    margin-top:1vh;
    margin-left:5vw;
    margin-bottom:1vh;
}


@media(max-width:599px){

#city_pic{
    width:90vw;
    margin-left:5vw;
    margin-top:2vh;
}



#countdown{
    font-size:7vw;
    margin-top:1vh;
}

#country_info{
    margin-left:5vw;
    width:90vw;
    margin-top:2vh;
}

#useful{
    font-size:5vw;
    font-weight:bold;
}

#dayone{
    width:90vw;
    margin-left:5vw;
    margin-top:2vh;
}

#here{
    font-size:5vw;
    font-weight:bold;
    margin-top:1vh;
}



}

@media(min-width:600px)and(max-width:1199px){

    

    #city_pic{
        width:90vw;
        margin-left:5vw;
        margin-top:2vh;
    }

    #countdown{
        font-size:5vw;
        margin-top:1vh;
    }

    #country_info{
        margin-top:2vh;
        margin-left:5vw;
        width:90vw;
        font-size:2vw;
    }

    #useful{
        font-size:5vw;
        font-weight:bold;
    }

    #dayone{
        width:90vw;
        margin-left:5vw;
        margin-top:2vh;
    }
    
    #here{
        font-size:5vw;
        font-weight:bold;
    }

}

@media(min-width:1200px){

    .container{
    
       display: grid;
       width:95vw;
       height:85vh;
       margin-top:5vh;
       grid-template-columns:30vw 45vw 25vw;
       grid-template-rows: auto;
       grid-template-areas: 
       "form img info";
       
       }

   #col_one{
       grid-area:form;
   }

    #city_pic{
        width:43vw;
        margin-top:12vh;
    }

    #image{
        grid-area: img;
    }

    #countdown{
        font-size:3vw;
        margin-left:1vw;   
    }

    #col_three{
        display:flex;
        flex-direction: column;
        grid-area:info;
        margin-top: 13vh;
    }

    #country_info{
        width:20vw;
        margin-top:1vh;
        font-size:1vw;
    }

    #useful{
        font-size:2vw;
        font-weight:bold;
    }

    #dayone{
        width:18vw;
       
    }
    
    #here{
        margin-left:1vw;
        margin-top:1vh;
        font-size:2vw;
        font-weight:bold;
    }

}